<nav [@animateMenu] class="navbar main-navbar on-top" [class.nav-shadow]='this.pageYPosition>0'>
    <div class="container">
        <a class="navbar-brand text-light" [routerLink]="'top'">
          {{"Header.InitialsLogo" | translate}}
        </a>
        <ul ngbNav #nav="ngbNav" class="menu-ul">
            <li ngbNavItem *ngFor='let item of "Header.NavItems" | translate; let i = index' data-aos="zoom-out" data-aos-duration="1000" [attr.data-aos-delay]="i*50">
              <a ngbNavLink (click)="navigate(item.link)">
                <span class="underline nav-text"> {{item.label}}
                </span>
              </a>
            </li>
            <li ngbNavItem>
                <a (click)="downloadResume()" class="main-btn resume-btn" ngbNavLink>
                  {{"Header.ResumeBtn" | translate}}
                </a>
            </li>
        </ul>
        <div class="menu-wrapper">
            <div [class.animate]='responsiveMenuVisible' (click)='responsiveMenuVisible = !responsiveMenuVisible' class="hamburger-menu"></div>
        </div>
        <div class="menu-responsive" [ngStyle]="{'pointer-events': !responsiveMenuVisible ? 'none' : '' }">
            <aside [class.aside-show]='responsiveMenuVisible' [class.nav-shadow]='this.pageYPosition>0' class="on-top">
                <nav>
                    <ol>
                        <li *ngFor='let item of "Header.NavItems" | translate; let i = index' data-aos="fade-down" data-aos-duration="1000" [attr.data-aos-delay]="i*50">
                            <a (click)="navigate(item.link)">
                              {{item.label}}
                            </a>
                        </li>
                        <li>
                          <a (click)="downloadResume()" class="main-btn resume-btn">
                            {{"Header.ResumeBtn" | translate}}
                          </a>
                      </li>
                    </ol>
                </nav>
            </aside>
        </div>
    </div>
</nav>
