<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="3000">
            <li>
                <a href="{{'Github' | translate}}" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
            <a href="{{'mailto:' + ('Email' | translate) }}" target='_blank'>{{"Email" | translate}}</a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a href="{{'Repo' | translate}}" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built with <img class="logo" src="{{'Footer.Logo' | translate}}" alt="Angular"></div>
        </a>
    </div>

</footer>
