@import "src/assets/styles/themes";

footer {
    color: var(--primary-color);
    font-family: var(--code-font);

    .footer-left-bar:after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        margin: 0 auto 0px 7.5px;
        background-color: var(--border-color);
    }

    .footer-left-bar li {
        list-style: none;
    }

    .footer-left-bar {
        position: fixed;
        bottom: -16px;
        left: 51px;
        padding: 0;

        i {
            font-size: 19px;
            color: var(--primary-color);
        }

        li {
            margin: 20px 0px;

            &:last-of-type {
                margin-bottom: 33px;
            }
        }
    }

    .footer-credits {
        font-size: 12px;
        line-height: 1;
        text-align: center;
        height: 15vh;

        .credit {
            margin-bottom: 15px;
        }

        a {
            color: var(--primary-color);
            transition: var(--transition);
            transition-property: all;
            transition-duration: 0.25s;
            transition-delay: 0s;

            &:hover, &:focus {
                text-decoration: none;
                color: var(--accent-color);
            }
        }
    }

    .logo {
        height: 25px;
        margin-top: -5px;
        margin-left: 5px;
    }

    .scroll-top-btn {
        border: var(--border);
        border-radius: 3px;
        padding: .5em 2em;
        font-size: 20px;
        line-height: 1;
        position: fixed;
        left: 50%;
        bottom: -15px;
        margin-left: -48.5px;
        width: 20px;
        text-align: center;
        cursor: pointer;
        transition: var(--transition);
        color: var(--scroll-btn-color);
        background-color: var(--scroll-btn-bg-color);
        box-shadow: 0px 5px 30px -10px rgba(2, 12, 27, 0.7);
        opacity: 0;
        &.show-scroll-btn {
            opacity: 1;
            transform: translateY(-5px);
            backdrop-filter: blur(2px);
        }
        &:hover {
            transform: translateY(-10px);
        }
    }
}

@media(max-width: 768px) {
    .footer-left-bar {
        display: none;
    }
}
