{
  "arrowParens": "always",
  "printWidth": 140,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "endOfLine": "auto",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^@angular/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
}
