.credits {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--code-font);

    .credit {
        margin-bottom: 15px;
    }

    a {
        font-size: 20px;
        transition: var(--transition);

        &:hover, &:focus {
            text-decoration: none;
            color: var(--accent-color);
        }
    }
}
