.credits {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    height: 15vh;

    .credit {
        margin-bottom: 15px;
    }

    a {
        color: var(--primary-color);
        transition: var(--transition);

        &:hover, &:focus {
            text-decoration: none;
            color: var(--accent-color);
        }

        .logo {
            height: 25px;
            margin-top: -5px;
            margin-left: 5px;
        }
    }
}
