<div (click)="menuOpen = !menuOpen" class="menu-btn">
    <div [ngClass]="{'menu-open': menuOpen}" class="menu-container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>
<div *ngIf="menuOpen" @OutAnimation class="menu-overlay" data-aos="fade-out">
    <ol class="menu-items" data-aos="fade-up" data-aos-duration="500">
        <li *ngFor='let item of "Menu.NavItems" | translate; let i = index' class="menu-item">
            <a (click)="navigate(item); menuOpen = !menuOpen">{{item.label}}</a>
        </li>
    </ol>
</div>
<div class="menu-bar">
    <ol class="menu-bar-items">
        <li *ngFor='let item of "Menu.NavItems" | translate; let i = index' class="menu-bar-item"
            data-aos="fade-down" data-aos-duration="500" [attr.data-aos-delay]="i*100">
            <span (click)="navigate(item)" [class.active]="item.label.toLowerCase() === route">{{item.label}}</span>
        </li>
    </ol>
</div>
