<section class="about">
    <div class="container">
        <div class="section-box-about">
            <div class="content">
                <app-loader class="loader" data-aos="zoom-out" data-aos-duration="500"></app-loader>
                <div data-aos="fade-right" data-aos-duration="500">
                    <h1 class="title">{{"About.Pretitle" | translate}}</h1>
                </div>
                <div class="about-title">
                    <h2 class="name" data-aos="fade-right" data-aos-delay="100"
                        data-aos-duration="500">{{"About.Name" | translate}}</h2>
                    <h3 class="role" data-aos="fade-right" data-aos-delay="200"
                        data-aos-duration="500">
                        <span class="code-highlight">{{"About.Role" | translate}}<span class="blinking-cursor">|</span></span>
                    </h3>
                </div>
                <div class='about-description' data-aos="fade-right" data-aos-delay="300"
                     data-aos-duration="500">
                    <p [innerHTML]='"About.Description" | translate' class="mt-4"></p>
                </div>
                <ul class="social-icons" data-aos="fade-up" data-aos-duration="500">
                    <li data-aos="fade-right" data-aos-delay="400" data-aos-duration="500">
                        <a href="mailto:{{'Email' | translate}}" target='_blank'>
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    <li data-aos="fade-right" data-aos-delay="500" data-aos-duration="500">
                        <a href="{{'Github' | translate}}" target='_blank'>
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li data-aos="fade-right" data-aos-delay="600" data-aos-duration="500">
                        <a href="{{'LinkedIn' | translate}}" target='_blank'>
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li data-aos="fade-right" data-aos-delay="700" data-aos-duration="500">
                        <a href="{{'Instagram' | translate}}" target='_blank'>
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <a (click)="analyticsService.sendAnalyticEvent('download_resume', 'about', 'click'); downloadResume()" class="main-btn" data-aos="fade-right"
                   data-aos-duration="500">
                    {{"About.ResumeBtn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
