@import "src/variables";

.container {

    .section-box-about {
        vertical-align: middle;

        .content {
            margin-top: 200px;
        }

        h1 {

            color: $Accent;
            margin: 0 0 20px 3px;
            font-size: 16px;
            font-weight: normal;
            font-family: $CodeFont;
        }

        h2, h3 {
            font-weight: 600;
            line-height: 1.1;
            margin: 0;
        }

        h2 {
            font-size: 60px;
            color: $Primary;
            font-family: $MainFont;
        }

        h3 {
            font-size: 40px;
            color: $Primary;
            font-family: $CodeFont;
        }

        .about-description {
            margin-bottom: 50px;
        }

        p {
            max-width: 500px;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

    .column {
        display: block;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: center;
        order: 0;
    }
}

.dark-highlight {
    background: $BgOpaque;
    padding: 0 0px 0px 10px;
    margin-left: -10px;
}

.blinking {
    color: $Accent;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: $Accent;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 45px !important;
    }
    .role {
        font-size: 28px !important;
    }
}

@media(max-width: 1160px) {
    .column.loader {
        width: 100%;
        margin-left: -30px;
        margin-bottom: 15vh;
    }
}




