<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block" data-aos="fade-up" data-aos-duration="500" data-aos-delay="3000">
            <li>
                <a href="{{'Github' | translate}}" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <a href="{{'mailto:' + ('Email' | translate) }}" target='_blank'>{{"Email" | translate}}</a>
        </div>
    </div>

    <div class="footer-credits text-center" >
      <div class="credit">Designed by Arun Varghese</div>
      <div><a href="{{'Repo' | translate}}" target="_blank" rel="nofollow noopener noreferrer">Built with <img class="logo" src="{{'Footer.Logo' | translate}}" alt="Angular"></a></div>
    </div>

</footer>
