<footer>
  <ul class="footer-left-bar" data-aos="fade-up" data-aos-duration="500">
    <li>
      <a href="{{'Github' | translate}}" target='_blank'>
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
  <div class="footer-right-bar" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
    <a href="{{'mailto:' + ('Email' | translate) }}" target='_blank'>{{"Email" | translate}}</a>
  </div>

  <div class="footer-credits">
    <div class="credit">Designed by Arun Varghese</div>
    <div>
      <a href="{{'Repo' | translate}}" target="_blank" rel="nofollow noopener noreferrer">
        <img class="logo" src="{{'Footer.Logo' | translate}}" alt="Angular">
      </a>
    </div>
  </div>
</footer>
