<section class="section contact" id='contact'>
    <div class="container">
        <div class="section-box">
            <div class="mb-4" data-aos="fade-up" data-aos-duration="500">
                <h3 class="contact-pre-title big-subtitle">{{"Contact.Pretitle" | translate}}</h3>
                <h4 class="e-font contact-title big-title">
                    {{"Contact.Title" | translate}}
                </h4>
            </div>
            <div class="mt-5" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <a href="{{'mailto:' + ('Email' | translate) }}" target='_blank' class="main-btn" data-aos="fade-up" data-aos-duration="500">
                    {{"Contact.Btn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
