@import "src/variables";

.contact-box {
  margin-top: 20%;

  .contact-title {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 60px;
    font-weight: 600;
    color: $Primary;
    margin: auto;
    width: fit-content;
  }

  .contact-pre-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0 25px;
    width: 100%;
    white-space: nowrap;
    font-size: 32px;
    display: block;
    color: $Accent;
    font-size: 16px;
    font-family: $MainFont;
    font-weight: normal;
    justify-content: center;
    text-align: center;
  }
}

.contact-btn {
  margin-top: 50px;
  text-align: center;
}
