<section>
  <div class="container">
    <div class="section-box">
      <div class="title mb-5" data-aos="fade-up" data-aos-duration="500">
        <h3 class="e-font section-title">
          {{"Experience.Title" | translate}}
        </h3>
      </div>
      <ul class="jobs">
        <li class="job" *ngFor='let item of "Experience.Items" | translate; let i = index' [title]="item.Tab"
            data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="i*100">
          <h2>{{item.Tab}} <img data-aos="zoom-out" data-aos-duration="500" class="job-logo" [src]="item.Logo" [alt]="item.Tab"></h2>
          <h3>{{item.Title}}</h3>
          <h4 class="job-location">{{item.Location}}</h4>
          <h4 class="job-time">{{item.Date}}</h4>
          <p class="job-description" *ngFor='let jobDescriptionParagraph of item.Description; let i = index'
             [innerHTML]="jobDescriptionParagraph | translate"></p>
            <div class="job-environment">
              <span class="technology" *ngFor='let technology of item.Environment'>
                <span class="underline">{{technology}}</span>
              </span>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>
