$Primary      : #e6f1ff;
$Accent       : #089ee5;
$AccentOpaque : #089ee569;
$Gray         : #1c1c1c;

$MainFont: Montserrat, 'Helvetica Neue', Arial, sans-serif;
$CodeFont: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, Monospace;
