[data-theme="light"] {
    --primary-color: black;
    --accent-color: #089ee5;
    --accent-color-opaque: #089ee569;
    --title-color: black;
    --btn-text-color: black;
    --bg-color: white;
    --bg-color-opaque: transparent;
    --bg-img: white;
    --border-color: rgb(0 0 0 / 30%);
    --border: 1px solid rgb(0 0 0 / 30%);
    --border-radius: 3px;
    --scroll-btn-color: black;
    --scroll-btn-bg-color: rgb(255 255 255 / 30%);
    --menu-btn-color: black;
    --code-highlight-color: black;
    --code-highlight-text-color: white;
    --btn-bg-color: white;
    --btn-hover-bg-color: white;
    --menu-bar-bg-color: rgb(255 255 255 / 30%);
    --menu-overlay-bg-color: white;
    --cube-face: rgb(0 0 0 / 60%);
    --cube-icon-color: white;
    --bullet-color: black;
    --divider: "/";
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --cursor-type: pointer;
    --shadow: 0 0px 10px -5px black;
    --primary-font: 'DM Sans', Montserrat, 'Helvetica Neue', Arial, sans-serif;
    --code-font: 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, Monospace;
}

[data-theme="dark"] {
    --primary-color: #e6f1ff;
    --accent-color: #089ee5;
    --accent-color-opaque: #089ee569;
    --title-color: #089ee5;
    --btn-text-color: #089ee5;
    --bg-color: #0f0f0f;
    --bg-color-opaque: rgb(0 0 0 / 30%);
    --bg-img: url('../images/background/code.png') no-repeat;
    --border-color: #089ee5;
    --border: 1px solid #089ee5;
    --border-radius: 3px;
    --scroll-btn-color: #089ee5;
    --scroll-btn-bg-color: rgb(0 0 0 / 30%);
    --menu-btn-color: #089ee5;
    --code-highlight-color: rgb(0 0 0 / 30%);
    --code-highlight-text-color: #e6f1ff;
    --btn-bg-color: transparent;
    --btn-hover-bg-color: rgb(0 0 0 / 30%);
    --menu-bar-bg-color: rgb(0 0 0 / 30%);
    --menu-overlay-bg-color: rgb(0 0 0 / 60%);
    --cube-face: rgb(0 0 0 / 30%);
    --cube-icon-color: #e6f1ff;
    --bullet-color: #089ee5;
    --divider: "/";
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --shadow: 0 0px 10px -5px black;;
    --cursor-type: pointer;
    --primary-font: 'DM Sans', Montserrat, 'Helvetica Neue', Arial, sans-serif;
    --code-font: 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, Monospace;
}
